<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olvidaste tu contraseña?</title>
    <link rel="stylesheet" href="css/loginStyles.css">
</head>
<body>

<div class="form-main">
    <form method="post" action="/recover">
        <div class="form-control">

            <label for="correo">Correo</label>
            <input id="correo" type="text" name="correo"/>
        </div>


        <div class="form-control footer">
            <input type="submit" value="Registrar"/>
        </div>
    </form>
</div>
</body>
</html>