<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/loginStyles.css">
</head>
<body>
<div class="form-main">
    <form method="post" action="/validate">
        <div class="header">

            <label>Login</label>
        </div>

        <div>
            <img src="images/b1Soft.jpg"/>
        </div>

        <div class="form-control">

            <label for="correo">Correo</label>
            <input id="correo" type="text" name="correo"/>
        </div>
        <div class="form-control">
            <label for="pass">Password</label>
            <input id="pass" type="password" name="pass"/>
        </div>

        <div class="form-control footer">
            <input type="submit" value="Iniciar sesion"/>
            <a href="/form">
                <div class="button"> Registrar</div>
            </a>
        </div>
        <div>
            <a href="/forget">
                <div class="button"> Olvide mi contraseña</div>
            </a>
        </div>

    </form>
</div>
</body>
</html>