<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<% if(!locals.user){ %>

    <p> Usted no se ha logueado</p>
<% }else{ %>
    <p> Bienvenido <%= locals.user.nombres %></p>

<% } %>
</body>
</html>